---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

  <div class="post-taxonomy">
      {% if page.category %}
        <span>分类：{{ page.category }}</span>
      {% endif %}

  {% if page.tags %}
    <span>
      标签：
      {% for tag in page.tags %}
      <a href="{{ "/tags/" | append: tag | relative_url }}">{{ tag }}</a>{% unless forloop.last %}、{% endunless %}
      {% endfor %}
    </span>
  {% endif %}

  <div itemprop="articleBody">
    {{ content }}
  </div>

<p class="back-home"> <a href="{{ "/" | absolute_url }}">回到首页</a> </p>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>